@import url(main.css);

/* -------------- tab - 01 -------------- */

#tab-01 .title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab-01 .title .image{
    width: 80px;
    margin: 15px;
}
#tab-01 .title .image img{
    width: 100%;
    border-radius: 10px;
}
#tab-01 .title .text{
    font-size: 2em;
}
#tab-01 .list{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab-01 .list li{
    margin: 10px;
    cursor: pointer;
    width: 300px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 2em;
    background: var(--sidebar-clr);
    transition: all 0.5s ease;
}
#tab-01 .list li:hover{
    background: var(--primary-clr);
    color: var(--sidebar-clr);
}

/* -------------- tab - 02 -------------- */

#tab-02{
    flex-direction: row;
}
#tab-02 .list{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    position: relative;
}
#tab-02 .list li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 1.2em;
    transition: 0.3s all ease;
    cursor: pointer;
}
#tab-02 .list li:hover{
    background: var(--primary-clr);
    color: var(--sidebar-clr);
}
#tab-02 .list li.on{
    background: var(--primary-clr);
    color: var(--sidebar-clr);
}
#tab-02 .song{
    position: fixed;
    right: 10px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 20px;
}
#tab-02 .song .title{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #ccc;
}
#tab-02 .song .songlist{
    height: calc(100vh - 130px);
    overflow: hidden auto;
}
#tab-02 .song .songlist li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
#tab-02 section{
    display: none;
    width: calc(100% - 630px);
    /* width: 100%; */
}/*
.sidebar.close ~ .container #tab-02 section{
    width: calc(100% - 250px - 630px);
}*/
#tab-02 section.on{
    display: block;
}
#tab-02 #tab-content-list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
}
#tab-02 #tab-content-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    width: 140px;
    height: 50px;
    padding: 5px;
    margin: 0 2px;
    background: var(--primary-clr-light);
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
#tab-02 #tab-content-list li.on,
#tab-02 #tab-content-list li:hover{
    border-bottom: 2px solid var(--primary-clr);
    color: var(--primary-clr);
}