@import url(reset.css);
header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3f51b5;
}
header a{
    color: #fff;
}